<!-- 
<div class="container">
        <a class="btn  btn-warning" routerLink="/register" role="button">Signup &raquo;</a>
        <a class="btn btn-success ml-4" routerLink="/login" role="button">Login &raquo;</a>
        <a class="btn btn-danger ml-4" routerLink="/topsecret" role="button">Top Secret Area &raquo;</a>
<div class="jumbotron mt-3">
       <h1>OAuth Client Demo</h1>
      <p class="lead">OAuth/OpenID Connect Demo using Angular, ASP.NET Core and IdentityServer 4</p> 
      <a class="btn btn-lg btn-primary" routerLink="/register" role="button">Signup &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/login" role="button">Login &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/topsecret" role="button">Top Secret Area &raquo;</a>
    </div>  
</div>

  -->
<div class="container">
    <h1 class="heading">WELCOME TO ANC UNIVERSITY</h1>

    <p class="para">Please SignUp or Login to the system</p>

    <a class="btn btn-danger btn-xs" routerLink="/register" role="button">Signup</a>
    <a class="btn btn-danger btn-xs" routerLink="/login" role="button">Login</a>

</div>